.card-header {
    background-color: rgb(136, 7, 211);
    color: white;
}

.fas {
    color: white;
}

.employee-card {
    margin: 20px;
    /* display: flex; */
    width: 100%;

}

.jumbotron {
    background-color: #ca331f;
    color: white;
}



